@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@200&family=Roboto&display=swap');
article{
    text-align: center;
    background-color: mediumorchid;
    margin-right: 25%;
    margin-left: 25%;
}
img{
    width: 250px;
    padding: 50px;
    border-radius: 5%;
    border-style: solid;
    background-color: white;
}
p{
    font-family: Inter;
}
h1{
    font-family: Agbalumo;
}
button{
    border-radius: 15%;
}

